/*common styles*/
body {
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: #f5f5f5;
}

a {
	color: gray;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.navbar-nav{
  padding:20px;
}

/*styling for the navigation bar*/
.nav-item {
	text-align: center;
}

/*styling for the social media icons and links*/

.socials {
	margin-right: 15px;
	margin-left: 15px;
	transition: 0.5s;
}

.socialsHeader{
	margin-top: 30px;
	text-align: center;
}

@media screen and (min-width: 768px) {
  .socialsHeader {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 767px) {
  .socialsHeader {
    font-size: 20px;
  }
}


.socialsIcons {
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}

.instagram:hover {
	color: #c71695;
}

.facebook:hover{
	color: #2469ff;
}

.youtube:hover{
	color: #ff2b2b;
}

.linkedin:hover{
	color: #104bc9;
}

/*styling for the youtube video Links*/
.youtubeLinks {
	width: 100%;
	border-radius: 15px;
	background-color: white;
	padding: 30px;
	margin-top: 15px;
	text-decoration: none;
}

.youtube-content {
	text-align: center;
	margin-top: 10px;
}

.youtube-content-header {
	color: #0056bf;
}

.youtube-content-sub-header{
	color: gray;
	margin-top: -15px;
	font-size: 13px;
}

.youtube-metadata {
	text-align: center;
	margin-top: -10px;
	font-size: 18px;
	color: black;
}

/*scrollbar css*/.nav-tabs {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
  border-bottom: 2px solid #DDD;
  -ms-overflow-style: none; /*// IE 10+*/
  overflow: -moz-scrollbars-none;/*// Firefox*/}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border-width: 0;
}
.nav-tabs>li>a {
  border: none;
  color: #666;
}
.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
  border: none;
  color: #4285F4 !important;
  background: transparent;
}
.nav-tabs>li>a::after {
  content: "";
  background: #4285F4;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
  transform: scale(1);
}
.tab-nav>li>a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}
.tab-pane {
  padding: 15px 0;
}
.tab-content {
  padding: 20px
}

.nav-tabs::-webkit-scrollbar {
  display: none; /*Safari and Chrome*/
}
.card {
  background: #FFF none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav{
    flex-wrap: inherit; 
}
