/*common styles*/
body {
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: #f5f5f5;
}

a {
	color: gray;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/*styling for the navigation bar*/
.nav-item {
	text-align: center;
}

/*styling for the social media icons and links*/

.socials {
	margin-right: 15px;
	margin-left: 15px;
	transition: 0.5s;
}

.socialsHeader{
	margin-top: 30px;
	text-align: center;
}

@media screen and (min-width: 768px) {
  .socialsHeader {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 767px) {
  .socialsHeader {
    font-size: 20px;
  }
}


.socialsIcons {
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}

.instagram:hover {
	color: #c71695;
}

.facebook:hover{
	color: #2469ff;
}

.youtube:hover{
	color: #ff2b2b;
}

.linkedin:hover{
	color: #104bc9;
}

/*styling for the youtube video Links*/
.youtubeLinks {
	width: 100%;
	border-radius: 15px;
	background-color: white;
	padding: 30px;
	margin-top: 15px;
	text-decoration: none;
}

.youtube-content {
	text-align: center;
	margin-top: 10px;
}

.youtube-content-header {
	color: #0056bf;
}

.youtube-content-sub-header{
	color: gray;
	margin-top: -15px;
	font-size: 13px;
}

.youtube-metadata {
	text-align: center;
	margin-top: -10px;
	font-size: 18px;
	color: black;
}
