/*common styles*/
body {
    background-color: #f5f5f5;
}

.socialsIcons a {
	color: gray;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.navbar-nav{
  padding:20px;

}

/*styling for the navigation bar*/
.nav-item {
	text-align: center;
	font-family: 'Baloo Tammudu 2', cursive;

}

.navbar-brand {
	    font-family: 'Baloo Tammudu 2', cursive;
}

/*styling for the social media icons and links*/

.socials {
	margin-right: 15px;
	margin-left: 15px;
	transition: 0.5s;
}

.socialsHeader{
	margin-top: 30px;
	text-align: center;
	font-family: 'Baloo Tammudu 2', cursive;
}

@media screen and (min-width: 768px) {
  .socialsHeader {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 767px) {
  .socialsHeader {
    font-size: 20px;
  }
}


.socialsIcons {
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}

.instagram:hover {
	color: #c71695;
}

.facebook:hover{
	color: #2469ff;
}

.youtube:hover{
	color: #ff2b2b;
}

.linkedin:hover{
	color: #104bc9;
}

/*styling for the youtube video Links*/
.youtubeLinks {
	width: 100%;
	border-radius: 15px;
	background-color: white;
	padding: 30px;
	margin-top: 15px;
	text-decoration: none;
}

.youtube-content {
	text-align: center;
	margin-top: 10px;
}

.youtube-content-header {
	color: #0056bf;
}

.youtube-content-sub-header{
	color: gray;
	margin-top: -15px;
	font-size: 13px;
}

.youtube-metadata {
	text-align: center;
	margin-top: -10px;
	font-size: 18px;
	color: black;
}

/*styling for the additional links*/
.additional-links {
	background-color: white;
}

.sub-tabs {
	display: flex;
	overflow: auto;
	padding-top: 10px;
}

.tabs {
	padding-right: 25px;
	white-space: nowrap;
}

/*styling for the main page*/
.main-page {
	margin-top: 15px;
}

.home-page-header {
	font-size: 50px;
}

.home-page-sub-header {
	margin-top: -15px;
	font-size: 25px;
	color: #8a8a8a;
	line-height: 110%;
}

.home-page-content {
	font-size: 20px;
	margin-top: 30px;
}